TELEGRAM_CHANNEL_ID = ''
TELEGRAM_TOKEN = 'your bot token'
DB_URL = 'postgresql+asyncpg://postgres:123456@products_db:5432/aichat'
WEBAPP_URL = 'https://35c511cc5de1.ngrok.app'
DB_ECHO = True
ADMIN_USERNAME = 'admin'
ADMIN_PASSWORD = 'admin'
FARM_SECONDS = 28800
FARM_REWARD = 1000
ENCRYPTION_KEY = 'generate encryption key for local'
SOLANA_FEE = 5000
PROGRAM_FEE_PERCENTAGE = 1
ADMIN_WALLET_ADDRESS = ''
SNIPER_ACCESS_TOKEN = ''